<div class="container border border-info rounded mb-5" style="max-width: 400px;">
    <form action="/login" method="post">
        <h3 class="text-center mb-4">Sign In</h3>

        <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>   
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>

        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label for="customCheck1" class="custom-control-label">Remember me</label>
        </div>

        <button class="btn btn-info btn-lg btn-block mb-2">Sign In</button>
        <p class="text-center m-2">Not a member? <span class="text-info">Register</span></p>
       
    </form>
</div>