<div class="container">

    <h4>Create A New Project</h4>

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" required>
    </div>

    <div class="form-group">
        <label for="description">Description</label> <span class="text-muted">(Optional)</span>
        <textarea class="form-control" id="description" rows="3"></textarea>
        <small class="text-muted">Please describe your project!</small>
    </div>

    <div class="form-group">
        <label for="downloadLink">Download Link</label> <span class="text-muted">(Optional)</span>
        <input type="text" class="form-control" id="downloadLink" placeholder="Download Link">
        <small class="text-muted">Provide a link to onedrive/dropbox/etc to download all relevant files to your project</small>
    </div>

    <div class="form-group">
        <label for="imageLink0">Image Link</label> 
        <input type="text" class="form-control" id="imageLink0" placeholder="Image Link" required>
        <small class="text-muted">Provide a link to an image of your project</small>
    </div>

    <div class="form-group">
        <label for="imageLink1">Image Link 2</label> <span class="text-muted">(Optional)</span>
        <input type="text" class="form-control" id="imageLink1" placeholder="Image Link">
    </div>

    <div class="form-group">
        <label for="imageLink2">Image Link 3</label> <span class="text-muted">(Optional)</span>
        <input type="text" class="form-control" id="imageLink2" placeholder="Image Link">
    </div>

    <div class="form-group">
        <label for="imageLink3">Image Link 4</label> <span class="text-muted">(Optional)</span>
        <input type="text" class="form-control" id="imageLink3" placeholder="Image Link">
    </div>

    <div class="form-group">
        <label for="imageLink4">Image Link 5</label> <span class="text-muted">(Optional)</span>
        <input type="text" class="form-control" id="imageLink4" placeholder="Image Link">
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block mb-3">Create</button>
</div>